doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content=description)

        //OpenGraph standard
        meta(property="og:url" content=website)
        meta(property="og:type" content=website)
        meta(property="og:title" content=title)
        meta(property="og:description" content=description)
        meta(property="og:image" content=links.giphy)

        title= title

        link(href="/images/favicon.ico" crossorigin="anonymous" rel="icon")
        
        link(rel="canonical" href=website)

        link(href="/css/build.css?v=" + version rel="stylesheet")
            
    body
        
        div(id="app")
        iframe(src="https://ghbtns.com/github-btn.html?user=ajorquera&repo=mixerjs&type=star&count=true&size=large" 
               class="fixed-top m-2 ml-auto" frameborder="0" scrolling="0" width="120px" height="30px")
        
        script(src="/js/build.js?v=" + version)
            
